<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MsgViewer</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="./css/bootstrap-theme.min.css">
    <script src="./js/jquery.min-1.11.1.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="./js/bootstrap.min.js"></script>
    <script src="./utils.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type='text/css'>
      body {}
      .messages{ border: 1px outset; overflow-y: scroll; padding: 10px; vertical-align:top; position: fixed; top: 45px; right: 10px; left: 200px; bottom: 20px; }
      .groups{width: 200px; height: 100%; position: fixed; top: 10px; left: 10px; bottom: 10px; overflow-y: scroll; text-align: center; border-right: 1px outset; vertical-align: top; }
      .group{padding: 2px; width: 160px; margin: 0 auto; height: auto}
      .groupTitle {font-weight: bold; border: 1px dotted; background-color: gray; height:25px;}
      .contactFilter {color: gray}
      .contact{background-color: white; height:30px; line-height: 30px; font-weight: normal; text-overflow: ellipsis; overflow:hidden; white-space:nowrap}
      .contact.active {background-color: teal;}
      .contact:hover {background-color: aqua;}
      #curPage {width: 54px; height: 22px; text-align: center;}
      #totalPage {width: 54px; height: 22px; text-align: center; }

      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    </style>
    <script type="text/javascript">

      var Viewer = {};
      Viewer.CurContact = null;
      Viewer.SelfUserId = window.external.GetSelfUserId();
      Viewer.PageSize = 10;
      Viewer.PageCount = 0;
      Viewer.PageIndex = 0;
      Viewer.FilterText = "";
      Viewer.FilterTimer = null;

      // 加载User信息
      function OnChatInfo(chat) {
        var userCount = chat.GetUserCount();
        var title = '';
        for(var i=0;i<userCount; ++i) {
          var userId = chat.GetUserId(i);
          if(userCount ==2 && userId == Viewer.SelfUserId)
            continue;
          var userInfo = window.external.GetUserInfo(userId);
          title += userInfo.Name + ',';
        }
        if(title.length > 2)
          title = title.substring(0, title.length-1);
        addChat(chat.ChatId, userCount, title);
      }

      // 添加讨论组
      function addChat(chatId, userCount, title) {
        var group = (userCount > 2) ? $("#groupChat") : $("#singleChat");
        var li = $('<li class="contact" title="' + title + '">' + title + '</li>');
        li.appendTo(group);
        li.prop('chatId', chatId);
        li.tooltip({delay: 500});
      }

      // 显示消息页数
      function showPageCount() {
        $("#totalPage").text(Viewer.PageCount);
      }

      // 显示消息
      function showMsg(pageIndex) {
        var messages = $(".messages");
        messages.empty();
        var chatId = $(Viewer.CurContact).prop('chatId');
        if(!window.external.PrepareMsg(chatId, pageIndex, Viewer.PageSize))
          return;
        for(var i=0; i<Viewer.PageSize; ++ i) {
          var msg = window.external.NextMsg(i);
          if(msg == null)
            break;
          addMessage(msg);
          msgId = msg.MsgId;
        }
        Viewer.PageIndex = pageIndex;
        window.external.ClearMsg();
        $("#curPage").text('' + (pageIndex + 1));
      }

      // 添加消息
      function addMessage(msg) {
        var messages = $(".messages");
        var para = '<p><span style="color: blue">';
        para += msg.Date + '   ' + msg.UserName;
        para += '</span><br/><span style="margin-left: 10px">';
        para += msg.Message + '</span></p>';
        messages.append(para);
      }

      // 开始根据用户的输入，过滤联系人
      function StartFilterContacts() {
        if(!Viewer.FilterTimer)
          Viewer.FilterTimer = setInterval(FilterContacts, 200);
      }

      // 停止根据用户的输入过滤联系人
      function StopFilterContacts() {
        if(Viewer.FilterTimer) {
          clearInterval(Viewer.FilterTimer);
          Viewer.FilterTimer = null;
        }
      }

      // 根据用户的输入，过滤联系人
      function FilterContacts() {
        var filter = $('#editFilter').val();
        if(filter == Viewer.FilterText)
          return;
        Viewer.FilterText = filter;
        var lowerFilter = filter.toLocaleLowerCase();

        var messages = $(".messages");
        messages.empty();
        $('.contact').each(function() {
          $(this).removeClass("active");
          var title = $(this).text();
          if(title.toLocaleLowerCase().indexOf(lowerFilter) >= 0)
            $(this).show();
          else
            $(this).hide();
        });
      }

      $(document).ready(function(){
        window.external.ReloadChatInfo('OnChatInfo');

        // 上一页被点击
        $("#lastPage").click(function() {
          if(Viewer.PageIndex == 0)
            return;
          showMsg(Viewer.PageIndex - 1);
        });

        // 下一页被点击
        $("#nextPage").click(function() {
          if(Viewer.PageIndex >= Viewer.PageCount)
            return;
          showMsg(Viewer.PageIndex + 1);
        });

        // 查找
        $("#btnSearch").click(function() {
          if(!Viewer.CurContact)
            return;
          var chatId = $(Viewer.CurContact).prop('chatId');
          if(!chatId)
            return;

          var filter = $('#editSearch').val();
          if(filter.length == 0) {
            showMsg(Viewer.PageIndex);
            return;
          }
          var messages = $(".messages");
          messages.empty();
          var msgCount = window.external.SearchMsgCount(chatId, filter);
          Viewer.PageIndex = 0;
          Viewer.PageCount = Viewer.PageSize;
          showPageCount();
          window.external.SearchMsg('addMessage', chatId, filter, Viewer.PageIndex, Viewer.PageSize);
        });

        // 
        $("#editFilter").focus(StartFilterContacts);
        $("#editFilter").blur(StopFilterContacts);

        // 联系人被点击
        $(".contact").click(function(){
          if(Viewer.CurContact == this)
            return;
          // 清空当前选择
          if(Viewer.CurContact != null)
            $(Viewer.CurContact).removeClass("active");

          // 选择点中项
          $(this).addClass("active");          
          Viewer.CurContact = this;
          Viewer.PageIndex = 0;
          var chatId = $(Viewer.CurContact).prop('chatId');
          var count = window.external.GetMsgCount(chatId);
          Viewer.PageCount = Math.ceil(count / Viewer.PageSize);

          // 显示页数
          showPageCount();
          // 显示消息
          showMsg(Viewer.PageCount - 1);
        });

      });
    </script>
  </head>
  <body>

    <div class="groups">
      <div class="contactFilter">
        <input type="text" id="editFilter" placeholder='输入名字或者简写过滤'></input>
      </div>
      <div class="group">
        <div class="groupTitle">个人</div>
        <ul class="nav" id='singleChat'>
        </ul>
      </div>
      <div>
        <div class="group">
          <div class="groupTitle">讨论组</div>
          <ul id='groupChat'>
          </ul>
        </div>
      </div>
    </div>

    <form style="position: fixed; top: 10px; right: 10px; left: 200px; bottom: 20px;" >
      <input type="text" id="editSearch" placeholder='在当前联系人消息中查找' ></input>
      <input type="button" id="btnSearch" value="查找"></input>
    </form>

    <div class="messages">
    </div>

    <div style="position: fixed; bottom: 1px; right: 10px">
      <a id='lastPage' href='#'>&lt;  </a>
      <span id='curPage' >0</span> / <span id='totalPage'>0</span>
      <a id='nextPage' href='#'>  &gt;</a>
    </div>

</body>
</html>
